<footer>
    <div class="px-3">
        <div class="theme-container">
            <div class="py-5 content border-lighter">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45">
                        <a class="logo" routerLink="/">
                            <h2>LOGO</h2>
                        </a>
                        <p class="mt-4 mb-3 desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
                            perspiciatis cupiditate numquam odio explicabo accusantium deserunt incidunt.</p>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45" ngClass.xs="pt-5">
                        <h1 class="secondary-font">Feedback</h1>
                        <p class="desc">We want your feedback about everything</p>
                    </div>

                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright py-2">
                <p ngClass.xs="mt-1">Copyright © 2020 All Rights Reserved</p>
                <p>Designed & Developed by <a mat-button href="" target="_blank">Bikeshwar</a></p>
            </div>
        </div>
    </div>
</footer>