<mat-toolbar id="main-toolbar" color="primary" class="mat-elevation-z2">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
        <span fxHide="false" fxHide.gt-sm>
            <button mat-icon-button (click)="sidenavToggle()">
                <mat-icon class="mat-icon-lg">menu</mat-icon>
            </button>
        </span>
        <a class="logo" routerLink="/">
            <h2>LOGO</h2>
        </a>
        <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
            <a routerLink="/personal-detail" mat-button routerLinkActive="horizontal-active-link">
                <span>Personal Detail</span>
            </a>
            <a routerLink="" mat-button routerLinkActive="horizontal-active-link">
                <span>My Account</span>
            </a>
            <a routerLink="" mat-button routerLinkActive="horizontal-active-link">
                <span>Assessment Result</span>
            </a>
            <a routerLink="" mat-button routerLinkActive="horizontal-active-link">
                <span>Career Counseling</span>
            </a>
            <a routerLink="/admin" mat-raised-button routerLinkActive="horizontal-active-link" color="accent">
                <span>Admin</span>
            </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <a routerLink="/register" mat-button routerLinkActive="horizontal-active-link">
                <span>Sign Up</span>
            </a>
            <a routerLink="login" mat-button routerLinkActive="horizontal-active-link">
                <span>Login</span>
            </a>
        </div>
    </div>
</mat-toolbar>